# Client
/client/node_modules
/client/dist
/client/.env

# Server
/server/target
/server/**/*.rs.bk
/server/Cargo.lock

# Test App
/test_app/target
/test_app/**/*.rs.bk
/test_app/Cargo.lock

# IntelliJ IDEA
/.idea
/*.iml
/*.ipr
/*.iws