.spymaster__form {
    @include container;
}
.form {
    @include container-restrict;
}

.spymaster__word-list {
    display: flex;

    width: 100%;

    flex-wrap: wrap;

    justify-content: center;
    align-items: flex-start;

    row-gap: 3rem;
}

@include mobile-only {
    .spymaster__container {
        padding-top: 4rem;
    }
}

@include desktop-only {
    .spymaster__container {
        @include container;
    }
}
