.input__container {
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;
}

.input__label {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.input {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    background-color: $background-1;
    color: $white;

    font-weight: bold;

    text-align: center;
    text-transform: uppercase;

    border: none;
    border-radius: $border-radius-medium;
}
