.word-list__container {
    flex: 1 1 0%;

    min-width: 10rem;
    max-width: 15rem;

    text-align: center;
}

.word-list__header {
    display: inline-block;

    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.125rem;
    padding-right: 1.125rem;

    font-size: $font-size-small;
    font-weight: bold;

    border-radius: $border-radius-medium;
}

.word-list__header--assassin {
    background-color: $card-dark-grey;
}

.word-list__header--red {
    background-color: $card-red;
}

.word-list__header--blue {
    background-color: $card-blue;
}

.word-list__header--bystander {
    background-color: $card-light-grey;
    color: $card-dark-grey;
}

.word-list {
    margin: 0;
    margin-top: 0.75rem;

    padding: 0;

    list-style: none;

    > *:not(:first-child) {
        margin-top: 1rem;
    }
}

.word-list__word {
    font-size: $font-size-medium;
}

.word-list__word--clicked {
    color: $dark-grey;
}
