.board {
    display: flex;

    justify-content: center;

    flex: 1;
}

.board__grid {
    display: grid;

    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));

    gap: 0.625rem;
}

@media only screen and (orientation: landscape) {
    .board {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .board__grid {
        width: 70%;
        height: 100%;
    }

    @media (max-width: 1200px) {
        .board {
            margin: 1rem;
        }

        .board__grid {
            width: 100%;
        }
    }
}

@media only screen and (orientation: portrait) {
    .board {
        flex-direction: column;

        margin-left: 1rem;
        margin-right: 1rem;
    }

    .board__grid {
        width: 100%;
        height: 70%;
    }
}
