.noscript {
    display: flex;

    align-items: flex-end;
}

.noscript__js {
    height: 3.375rem;
}

.noscript__error {
    margin-left: 0.375rem;

    font-size: $font-size-medium;
}

.noscript__title {
    font-weight: bold;
}
