// Colours
$straight-up-black: #000000;

$black: #2b2b2b;
$white: #f8f8f8;

$dark-grey: #4e4e4e;
$grey: #9c9c9c;

$background-0: #152751;
$background-1: #4e5b7b;

$primary-0: #1581bf;
$primary-1: #156694;

$danger-0: #bc0f0f;
$danger-1: #921010;

$card-dark-grey: #303030;
$card-light-grey: #b2b2b2;
$card-red: #e60000;
$card-blue: #1b75c5;
$card-yellow: #ffe374;
$card-dark-yellow: #80550c;

// Shadow
$shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

// Font size
$font-size-extra-small: 0.625rem;
$font-size-small: 0.875rem;
$font-size: 1rem;
$font-size-medium: 1.125rem;
$font-size-large: 1.25rem;
$font-size-extra-large: 1.5rem;

// Border radius
$border-radius-small: 0.375rem;
$border-radius-medium: 0.5rem;
$border-radius-large: 0.75rem;
$border-radius-extra-large: 1.5rem;

// Transition duration
$transition-duration: 80ms;
$transition-duration-reveal: 250ms;
$transition-duration-fade-out: 1000ms;

// Breakpoints
$breakpoint-mobile: 720px;
